@import url("http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700|Source+Sans+Pro:300,400,700|Source+Code+Pro:300,400,700");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #FFFFFF;
  background: #FFFFFF;
  font-family: 'Source Sans Pro', Arial, sans-serif; }

div.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.container:after {
    content: "";
    display: table;
    clear: both; }

#header {
  width: 100%;
  padding: 20px;
  height: 70px;
  background: #4C5264;
  margin-bottom: 50px; }
  #header .title {
    margin-left: 50px; }
    #header .title h1 {
      padding-bottom: 4px; }
      #header .title h1 a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 20px; }
    #header .title h2 {
      color: #959CAD;
      font-weight: 300;
      font-size: 14px; }

#navigation {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  #navigation:last-child {
    margin-right: 0; }
  #navigation a {
    text-decoration: none;
    color: #3C4151;
    font-weight: 300; }
  #navigation ul.section {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px; }
    #navigation ul.section > li {
      padding-bottom: 10px; }
    #navigation ul.section li {
      padding-bottom: 5px; }
      #navigation ul.section li > span.title a {
        color: #7CCFAF;
        font-weight: 600; }
      #navigation ul.section li:last-child {
        padding-bottom: 0px; }
      #navigation ul.section li ul.subsection {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px; }
      #navigation ul.section li ul.functions {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
        border-left: 2px solid #B3B8C4; }

#content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  color: #3C4151;
  font-size: 18px;
  font-family: 'Source Serif Pro', serif;
  line-height: 28px; }
  #content:last-child {
    margin-right: 0; }
  #content ol {
    list-style: decimal;
    margin-left: 25px; }
  #content ul {
    list-style: disc;
    margin-left: 25px; }
  #content p {
    margin-bottom: 10px; }
  #content h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Source Sans Pro', serif;
    padding-bottom: 25px;
    border-bottom: 1px solid #C1C6D1;
    margin-bottom: 20px; }
  #content a, #content a:visited {
    color: #3C4151; }
  #content a {
    text-decoration: none;
    border-bottom: 1px solid #C4C6CA; }
  #content h2.section-title {
    color: #7CCFAF;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase; }
  #content h2 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 35px;
    margin-bottom: 10px; }
  #content div.section {
    float: left;
    display: block;
    margin-right: 3.16844%;
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px; }
    #content div.section:last-child {
      margin-right: 0; }
    #content div.section div.detail {
      float: left;
      display: block;
      margin-right: 3.16844%;
      width: 100%;
      margin-bottom: 35px; }
      #content div.section div.detail:last-child {
        margin-right: 0; }
      #content div.section div.detail div.detail_header {
        float: left;
        display: block;
        margin-right: 3.16844%;
        width: 100%;
        background: #eee;
        margin-bottom: 10px; }
        #content div.section div.detail div.detail_header:last-child {
          margin-right: 0; }
        #content div.section div.detail div.detail_header div.title {
          float: left;
          display: block;
          margin-right: 3.16844%;
          width: 77.07368%; }
          #content div.section div.detail div.detail_header div.title:last-child {
            margin-right: 0; }
          #content div.section div.detail div.detail_header div.title h3 {
            font-family: 'Source Code Pro';
            font-size: 15px;
            padding-left: 10px; }
        #content div.section div.detail div.detail_header div.detail_header_links {
          float: left;
          display: block;
          margin-right: 3.16844%;
          width: 19.75788%;
          padding-right: 10px; }
          #content div.section div.detail div.detail_header div.detail_header_links:last-child {
            margin-right: 0; }
          #content div.section div.detail div.detail_header div.detail_header_links span {
            float: right;
            padding-left: 10px;
            font-size: 14px;
            font-family: 'Source Sans Pro';
            font-weight: 300; }
            #content div.section div.detail div.detail_header div.detail_header_links span a {
              border: none; }

code {
  font-family: 'Source Code Pro';
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  background-color: #FAFAFC;
  border: 1px solid #E3E4E8;
  vertical-align: middle; }

pre {
  margin-top: 10px;
  margin-bottom: 10px; }
  pre code {
    white-space: inherit;
    padding: 20px; }

/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #8e908c; }

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829; }

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f; }

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #eab700; }

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00; }

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #3e999f; }

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae; }

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8; }

.hljs {
  display: block;
  overflow-x: auto;
  background: #2b2f3e;
  color: white;
  -webkit-text-size-adjust: none; }
  .hljs span {
    white-space: inherit; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
